.navbar-brand{
    position: relative;
    background: url(./imgs/valorant.png);
    width: 48px;
    height: 32.72px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-nav { 
    margin-left: auto; 
} 

.navbar-nav a{ 
    margin-left: auto; 
    margin-right: 10px;
    margin-top: 5px;
} 

.bg-img {
    background-image: url(./imgs/Killjoy1.png), url(./imgs/Raze.png);
    background-repeat: no-repeat;
    background-position: -5%, 110% ;
}

.bg-img2{
    background-image: url(./imgs/Loading_Screen_Ascent.png);
    height: 100%;
    width: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bg-img3{
    background-image: url(./imgs/Loading_Screen_Bind.png);
    height: 100%;
    width: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bg-img4{
    background-image: url(./imgs/Loading_Screen_Haven.png);
    height: 100%;
    width: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bg-img5{
    background-image: url(./imgs/Loading_Icebox.png);
    height: 100%;
    width: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bg-img6{
    background-image: url(./imgs/Loading_Screen_Split.png);
    height: 100%;
    width: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.shadow-title {
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  }

  .carousel-control-next,
  .carousel-control-prev /*, .carousel-indicators */ {
      filter: invert(100%);
  }

  a:hover, a:active, a:focus {
    color:#c33;
  }