.navbar-brand{
    position: relative;
    background: url(./imgs/valorant.png);
    width: 48px;
    height: 32.72px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-nav { 
    margin-left: auto; 
} 

.navbar-nav a{ 
    margin-left: auto; 
} 

.bg-img {
    background-image: url(./imgs/Killjoy1.png), url(./imgs/Raze.png);
    background-repeat: no-repeat;
    background-position: -5%, 110%;
}
